.header-align {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
}

.header-align span {
    display: flex;
    align-items: center;
}

.header-align span:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 0.4em;
    background-color: currentColor;
    border-radius: 50%;
    vertical-align: middle;
    transform: translateY(50%);
}