.sbs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.sbsLarge {
    font-size: 1.75em;
}

.sbsApart {
    justify-content: space-between;
}

.imgRounded {
    border: 2px solid black;
    border-radius: 50%;
    height: auto;
    width: 3.5em;
}

.textGreen {
    text-align: center;
    color: green;
    text-shadow:1px 1px 5px lightgreen;
}

.textRed {
    text-align: center;
    color: red;
    text-shadow:1px 1px 5px red;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    transform-origin: 70% 70%; 
    display: inline-block;
}
  
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

@media screen and (max-width: 400px) {
    span.wave {
        display: none;
    }
}