div.header {
    width: 100%;
    color: darkslategray;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 0 3rem;
    z-index: 999;
    position: sticky;
    top: 0;
    background-color: white;
}

div.headerLinks {
    display: flex;
    flex-direction: row;
    gap: 10px;
}