.header {
    width: 100%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid white;
    transition: border-bottom 0.5s ease-out;
}

.withBottomBorder {
    border-bottom: 1px solid lightgray;
}

div.headerLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.black {
    color: black;
}

.headerTitle {
    text-align: center;
}