.header {
    width: 100%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    position: sticky;
    top: 0;
    background-color: #FAF9F6;
    border-bottom: 1px solid #FAF9F6;
    transition: border-bottom 0.5s ease-out, background-color 0.5s ease-out;
}

.withBottomBorder {
    border-bottom: 1px solid lightgray;
    background-color: white;
}

div.headerLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.black {
    color: black;
}

.headerTitle {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
    }
}