.techCard {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: left;
    border: 1px solid black;
    border-radius: 0.15em;
    font-size: 1em;
    width: 8em;
    height: 2em;
    user-select: none;
}

.active {
    transition: color 0.1s linear;
    color: black;
}
.active span.tcIcon {
    transition: background-color 0.1s linear;
    background-color: darkslategray;
}

.active:hover {
    color: orangered;
    cursor: pointer;
}
.active:hover span.tcIcon {
    background-color: orangered;
}

.inactive {
    transition: color 0.1s linear;
    color: lightgray;
}
.inactive span.tcIcon {
    transition: background-color 0.1s linear;
    background-color: lightgray;
}

.inactive:hover {
    color: gray;
    cursor: pointer;
}
.inactive:hover span.tcIcon {
    background-color: gray;
}

.tcIcon {
    color: white;
    padding: 1px;
    height: 100%;
    aspect-ratio : 1 / 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.tcText {
    font-size: 1.15rem;
}